body{
    font-family: 'Montserrat', sans-serif ;font-size: 22px;
}

.header__content{
    background-color: #392269;
    display: flex;
    flex-direction: column;
}


.header__top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 18%;
    align-items: center;
}

.header__logo{
    width: 20vw;
}

.img-background{
    background-color: #fff;
    height: 10vh;
    width: 10vh;
    border-radius: 8px;
    margin: 1vw 0px;
}

.header__img{
    height: 10vh;
    width: 10vh;
    padding: 0px;
    pointer-events: none;
}

.header__h1{
    display: flex;
    color: aliceblue;
    align-items: center;
    font-size: xx-large;
    text-wrap: nowrap;
    pointer-events: none;
}

.header__user{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 20vw;
    text-wrap: nowrap;
}

.header__user .a-button{
    width: 20vw;
    text-align: center;
    margin-left: 5%;
}

.header__user .a-button a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
}

.header__user .a-button:hover{
    transform: scale(1.1);
}

.header__user .subscribe{
    background-image: linear-gradient(to right bottom, #ff8600, #ca562c);
    padding: 4%;
    border-radius: 12px;
    transition: 0.2s;
}

.header__user .subscribe:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to right bottom, #ff9d00, #ca562c);
}

.header__nav{
    background-color: #593493;
    width: 100vw;
    height: 5vh;
    flex-wrap: nowrap;
    align-self: flex-end;
    color: #fff;
    box-shadow: rgb(22, 2, 46) 0px 20px 30px -10px;
}

.nav__content{
    height: 10vh;
}

.nav__list-sections form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5vh;
}

.nav__list-sections .filter{
    cursor: pointer;
    border: none;
    height: 4vh;
    width: 15vw;
    font-size: large;
    color: #fff;
    transition: 0.2s;
    background-color: transparent;
}

.nav__list-sections .filter:hover{
    transform: scale(1.2);
}