body{
    padding: 3%;
    background-color: #201629;
    display: flex;
    justify-content: center;
}

.error {
    position: absolute;
    top: 50px;
}

form{
    border: #392269;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    width: 32%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.input{
    margin: 10px;
    padding: 3px;
    width: 80%;
}
.button{
    align-items: center;
    margin: 10px;
    margin: 20px;
    width: 82%;
    height: 30px;
    background-color: #ff8600;
    padding: 4%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    border: none;
    box-shadow:rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.linha{
    width: 90%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 2px;
    border-bottom: solid 1px rgb(114, 112, 111) ;
    margin-block: 1.5rem;  
    margin: 2.3%;
    padding: 0%; 
}

.logo,img{
    height: 120px;
    width: 120px;
    margin-top: 5px;
}