body{
    background-color: #201629;
    height: 100vh;
    overflow-x: hidden;

}

.main__content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 80vh;
    position: relative;
}

.main__content .board-posts{
    width: 100%;
    place-items: center;
    gap: 5%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.board-posts .post{
    border-left: 25px solid transparent;
    width: 250px;
    height:  250px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: rotate(-2deg);
    border: 0px solid ;
    cursor: pointer;
    transition: 0.2s;
} 

.board-posts .post:hover{
    transform: scale(1.05);
}

.post .pin img{
    width: 12%;
    position: absolute;
    bottom: 88%;
    left: 45%;
    pointer-events: none;
}

.main__content .main__buttom {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 82vh;
    left: 91vw;
}

.main__buttom .buttom-add-post{
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    color: #fff;
    background-image: linear-gradient(to right bottom, #ff8600, #ca562c);
    box-shadow: rgba(50, 50, 93, 0.25) 5px 6px 12px -2px, rgba(0, 0, 0, 0.3) 5px 3px 7px -3px;
    font-size: xx-large;
    cursor: pointer;
    transition: 0.2s;
}

.main__buttom .buttom-add-post:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to right bottom, #ff9d00, #ca562c);
}

.main__content .main__buttom-github {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 68vh;
    left: 91vw;
}

.main__content .main__buttom-github img{
    width: 60px;
    height: 60px;

}

.main__buttom-github .buttom-github{
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, #0c064a, #000000);
    box-shadow: rgba(50, 50, 93, 0.25) 5px 6px 12px -2px, rgba(0, 0, 0, 0.3) 5px 3px 7px -3px;
    cursor: pointer;
    transition: 0.2s;
}

.main__buttom-github .buttom-github:hover{
    transform: scale(1.1);
    background-image: linear-gradient(to right bottom, #04015e, #040122);
}


.main__buttom.hidden{
    display: none;
}

.main__buttom-github.hidden{
    display: none;
}